{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h4>
            A share of {{ json['name'] }}, '{{ json['symbol'] }}', costs {{ json['price'] }}.
        </h4>
    </div>
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autofocus autocomplete="off" class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
{% endblock %}
