{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <h4>
                Sell
            </h4>
        </div>
        <div class="mb-3">{{ shares }} shares sold of {{ symbol }} at {{ price }} each</div>
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="symbol" id="symbol" placeholder="symbol">
                <option disabled selected>Symbol</option>
                {% for row in data %}
                <option value="{{ row['symbol'] }}">{{ row['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input min="1" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}